/*
 * Globals
 */
/* body {
  overflow: auto;
} */

.h-100 {
  overflow: auto;
}

a {
  color: rgb(184, 184, 184);
}

h1 {
  margin-top: 50px;
}

.card0 {
  border-radius: 20px;
  background-color: rgb(104, 108, 107);
}

/* .card1 {
  border-radius: 10px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  
}
.card2 {
  border-radius: 10px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  
} */

.kortit {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  max-width: 800px;
  margin: 0 auto;
  background: inherit;
  padding: 10px 0;
  width: max-content;
  color: inherit;
  overflow: auto;
}


/* .card-body {
  border: 10px;
  
  
}

.px-3 {
  
}

*/


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 100em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
